/* Added google font "Inter" linked here */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    background-color: #0b0420;
    color: white;
}
/* Shared Styles here */
.btn-primary{
    background: linear-gradient(48deg, #F7E93F, #FB09B4, #9100F8);
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.19rem;
    padding: 0.75rem 1rem;
    border-radius: 625rem;
    cursor: pointer;
}
.btn-primary:hover, .btn-message:hover{
    transform: scale(1.05);
}
.btn-message{
    background-color: #0b0420;
    color: #00FF9D;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.19rem;
    padding: 0.75rem 1rem;
    box-sizing: border-box;
    border: 1px solid #00FF9D;
    border-radius: 625rem;
    cursor: pointer;
}
.sub-heading{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    line-height: 3.63rem;
    margin-bottom: 1rem;
}
.sub-description{
    color:#FFFFFF;
    opacity: 0.8;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    text-align: center;
}

/* Nav menu styles here */
.heading-logo h2{
    font-size: 1.9rem;
}
.gradient-text {
    background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    color: transparent;

}
.container{
    display: flex;
    justify-content: space-between;
    max-width: 100rem;
    margin: 0 auto;
    margin-top: 2.5rem;
    align-items: center;
}
.menu{
    display: flex;
    gap: 4rem;
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
}
.menu>li>a{
    text-decoration: none;
    color: #FFFFFF;
}
.menu>li>a:hover{
    text-decoration:overline;
    color: #F7E93F;
}
.hamburger{
    display: none;
}
.divider{
  border: none;
  height: 0.15rem;
  background-image: linear-gradient(to right, transparent, rgba(156, 39, 176, 0.2), transparent);
  margin-top: 0.9rem;
}

/* Hero banner styles here */
.hero-container{
    min-height: 100vh;
}
.banner-wave-img{
    background: url("./assets/hero-bg.png");
    height: 80vh;
    background-size: cover;    
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
}
.banner-circle-img{
    background: url("./assets/hero-circle.png");
    height: 70vh;
    z-index: 10;
    background-size: contain;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    width: 18rem;
    height: 18rem;
}
.banner-mic-img{
    position: relative;
    top: 18%;
    left: 28%;
    animation: bounce 3s ease-out infinite;
}
.new-badge{
    position: absolute;
    top: -2.2rem;
    right: 4.8rem;
    background-color: #00FF9D;
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0.5rem 1rem 0.5rem 1rem;
    line-height: 1.38rem;
    border-radius: 62.5rem;
}

/* hero banner styles */
.banner-text-content{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}
.banner-btn{
    text-align: center;
    justify-content: center;
}
.banner-text-content h1{
    font-size: 4rem;
    margin-top: 10rem;
}

/* Podcast styles */
#podcast{
    max-width: 100rem;
    margin: 0 auto;
}

.number-statistics{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 7rem;
    gap: 3rem;
}
/* for microphone */
@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}


/* Responsive Responsibility Resources */
/* For Small Devices */
@media screen and (max-width:576px) {
    .container{
    display: flex;
    margin: 1rem 2rem;
    }
    .heading-logo h2{
    font-size: 1.2rem;
}
    .menu, .btn-primary{
    display: none;
    }
    .hamburger{
        display: block;
    }

    /* podcast responsive */
    #podcast{
    max-width: 100%;
    margin: 40px auto;
}
.sub-heading{
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.44rem;
}
.sub-description{
    margin: 10px 30px;
}

.number-statistics{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 3rem;
    gap: 2rem;
}
}



/* For medium Devices */
@media screen and (min-width:576px) and (max-width:992px){
    .container{
    display: flex;
    margin: 1rem 2rem;
    }
    .hamburger{
        display: none;
    }
}
/* For Large Devices */
@media screen and (min-width:992px){
    .container{
    display: flex;
    margin: 2rem auto;
    }
    .hamburger{
        display: none;
    }
}